/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 16 Apr 2025, 11:55:18 pm
    Author     : yjee0
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7ff;
    margin: 0;
    padding: 0;
}
