/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 16 Apr 2025, 11:25:23 pm
    Author     : yjee0
*/

:root {
    --primary-color: #4C60DF;
    --second-color: #3a4bb5;
}

.web_img {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* category */
.category-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.category-title {
    font-size: 24px;
    margin-bottom: 45px;
    color: #333;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.category-item {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 5px 0px;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.category-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}


.category-name {
    margin-top: 5px;
    font-weight: 500;
}