:root {
	--primary-color: #4C60DF;
	--second-color: #3a4bb5;
}

.web_img {
	width: 100%;
	height: auto;
	max-height: 600px;
}

.category-section {
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 20px;
	text-align: center;
}

.category-title {
	font-size: 24px;
	margin-bottom: 45px;
	color: #333;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.category-item {
	width: 300px;
	height: 300px;
	background: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	cursor: pointer;
	padding: 5px 0px;
	text-decoration: none;
}

.category-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.category-item img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

.category-name {
	margin-top: 5px;
	font-weight: 500;
}

.voucher-section {
	max-width: 1250px;
	margin: 40px auto;
	padding: 0 20px;
	align-content: center;
	justify-items: center;
}

.section-title {
	text-align: center;
	font-size: 28px;
	margin-bottom: 40px;
	color: #333;
}

.voucher-grid {
	max-width: inherit;
	display: inline-flex;
	gap: 30px;
	overflow-x: auto;
	padding: 20px;
}

.voucher-item {
	min-width: 300px;
	max-width: 400px;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	background: white;
	border-radius: 12px;
	padding: 25px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	border: 1px solid #eee;
	transition: transform 0.3s ease;
}

.voucher-item:hover {
	transform: translateY(-5px);
}

.voucher-icon {
	font-size: 2.3rem;
	color: var(--primary-color);
	background: rgba(76, 96, 223, 0.1);
	padding: 18px;
	border-radius: 50%;
}

.voucher-desc {
	margin: 0 0 5px 0;
	color: #666;
	font-size: 0.9rem;
}

.voucher-code {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--primary-color);
	margin-top: 10px;
	letter-spacing: 1px;
}

.voucher-discount {
	font-weight: bold;
	font-size: 1rem;
	color: black;
	margin-bottom: 10px;
}

.voucher-expiry {
	color: #888;
	font-size: 0.85rem;
}