/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 16 Apr 2025, 11:24:19 pm
    Author     : yjee0
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer_content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

/* column size */
.column {
    width: 25%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.logo_name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.logo {
    height: 60px;
    width: auto;
}


.column h3 {
    color: white;
    margin-bottom: 15px;
}

.column p {
    color: #ccc;
    margin: 5px 0;
    font-size: 14px;
}

.column a {
    text-decoration: none;
}

.column a:hover p {
    color: #4C60DF;
    transform: translateX(5px);
    transition: all 0.2s ease;
}

.tag {
    width: 100%;
    padding: 10px 0;
}

.tag p{
    text-align: center;
    font-size: 10px;
    color: #999;
    margin: 0;
}

/* @media */
@media (max-width: 768px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .column {
        width: 100%;
    }
}