/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/*
    Created on : 17 Apr 2025, 12:32:45 pm
    Author     : yjee0
*/


/* success message popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 350px;
    width: 90%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
}

.popup.show{
    opacity: 1;
    visibility: visible;
}

.success-icon {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.success-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.close {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.close:hover {
    transform: none;
    background: #fff;
    color: var(--primary-color);
    border: #4C60DF 2px solid;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.overlay.show{
    opacity: 1;
    visibility: visible;
}

