:root {
    --primary-color: #4C60DF;
    --secondary-color: #f8f9fa;
}

.edit-container,
.add-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow-y: auto;

}

.edit-content,
.add-content {
    top: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #777;
}

.close-btn:hover {
    color: #333;
}

.edit-info,
.add-info {
    margin-bottom: 20px;
}

.edit-info label,
.add-info label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.edit-info input,
.add-info input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.add-info .error {
    border: 1px solid red;
}

.add-info .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.edit-info input:focus,
.add-info input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight: 600;
}

.btn:hover {
    background: #fff;
    color: #4C60DF;
    border: 2px solid #4C60DF;
    padding: 10px 20px;
}

.edit-info,
.add-info {
    margin-top: 15px;
}

.edit-content h2,
.add-content h2 {
    margin-bottom: 25px;
    color: #333;
    text-align: center;
    font-size: 20px;
}