<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsController</servlet-name>
        <servlet-class>Controller.ProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.user.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchUploads</servlet-name>
        <servlet-class>Controller.FetchUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Address</servlet-name>
        <servlet-class>Controller.user.Address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Card</servlet-name>
        <servlet-class>Controller.user.Card</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>Controller.user.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Controller.ReviewController</servlet-class>
    </servlet>
		<servlet>
			<servlet-name>HomeController</servlet-name>
			<servlet-class>Controller.HomeController</servlet-class>
		</servlet>
		<servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/user/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchUploads</servlet-name>
        <url-pattern>/uploads/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Address</servlet-name>
        <url-pattern>/user/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsController</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Card</servlet-name>
        <url-pattern>/user/card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/user/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/user/reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
	</servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/errors/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errors/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/WEB-INF/errors/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errors/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/errors/error.jsp</location>
    </error-page>
</web-app>
